<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ css('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    @loggedIn
    <h3>You are logged in as {{ auth.user.name }}</h3>
    <a href="/logout">Logout</a>
    @else
    <a href="/authenticate/google">Login with Google</a>
    @endloggedIn
  </section>
</body>
</html>
